.notifications {
  position: absolute;
  top: 0;
  width: 100vw;
  justify-content: center;
  align-items: center;
  .success {
    background-color: lightgreen;
  }

  .error {
    background-color: red;
  }
}